<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.shop.customerassit.mapper.CustomerAssitMapper">

	<sql id="customerAssitColumns">
		a.id AS "id",
		a.customer_id AS "customer.id",
		a.movie_id AS "movie.id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",

		customer.name AS "customer.name",

		movie.title AS "movie.title",
		movie.movie AS "movie.movie",
		movie.movie_img AS "movie.movieImg",
		movie.dian_num AS "movie.dianNum"
	</sql>

	<sql id="customerAssitJoins">

		LEFT JOIN ts_customer customer ON customer.id = a.customer_id
		LEFT JOIN ts_store_movie movie ON movie.id = a.movie_id
	</sql>


	<select id="get" resultType="CustomerAssit" >
		SELECT
			<include refid="customerAssitColumns"/>
		FROM ts_customer_assit a
		<include refid="customerAssitJoins"/>
		WHERE a.id = #{id}
	</select>

	<select id="findList" resultType="CustomerAssit" >
		SELECT
			<include refid="customerAssitColumns"/>
		FROM ts_customer_assit a
		<include refid="customerAssitJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="customer != null and customer.id != null and customer.id != ''">
				AND a.customer_id = #{customer.id}
			</if>
			<if test="movie != null and movie.id != null and movie.id != ''">
				AND a.movie_id = #{movie.id}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>

	<select id="findAllList" resultType="CustomerAssit" >
		SELECT
			<include refid="customerAssitColumns"/>
		FROM ts_customer_assit a
		<include refid="customerAssitJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>

	<insert id="insert">
		INSERT INTO ts_customer_assit(
			id,
			customer_id,
			movie_id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag
		) VALUES (
			#{id},
			#{customer.id},
			#{movie.id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag}
		)
	</insert>

	<update id="update">
		UPDATE ts_customer_assit SET
			customer_id = #{customer.id},
			movie_id = #{movie.id},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>


	<!--物理删除-->
	<update id="delete">
		DELETE FROM ts_customer_assit
		WHERE id = #{id}
	</update>

	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE ts_customer_assit SET
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>


	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="CustomerAssit" statementType="STATEMENT">
		select * FROM ts_customer_assit  where ${propertyName} = '${value}'
	</select>

</mapper>
