<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.shop.systemyin.mapper.SystemYinMapper">
    
	<sql id="systemYinColumns">
		a.id AS "id",
		a.title AS "title",
		a.content AS "content",
		a.type AS "type",
		a.create_date AS "createDate",
		a.create_by AS "createBy.id",
		a.update_date AS "updateDate",
		a.update_by AS "updateBy.id",
		a.del_flag AS "delFlag",
		a.remarks AS "remarks"
	</sql>
	
	<sql id="systemYinJoins">
		
	</sql>
	
    <resultMap type="SystemYin" id="SystemYinResult" autoMapping="true">
    	<result column="content" property="content"   typeHandler="com.jeeplus.core.mapper.ConvertBlobTypeHandler"/>
    </resultMap>
    
	<select id="get" resultMap="SystemYinResult" >
		SELECT 
			<include refid="systemYinColumns"/>
		FROM ts_system_yin a
		<include refid="systemYinJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultMap="SystemYinResult" >
		SELECT 
			<include refid="systemYinColumns"/>
		FROM ts_system_yin a
		<include refid="systemYinJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="title != null and title != ''">
				AND a.title = #{title}
			</if>
			<if test="type != null and type != ''">
				AND a.type = #{type}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultMap="SystemYinResult" >
		SELECT 
			<include refid="systemYinColumns"/>
		FROM ts_system_yin a
		<include refid="systemYinJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO ts_system_yin(
			id,
			title,
			content,
			type,
			create_date,
			create_by,
			update_date,
			update_by,
			del_flag,
			remarks
		) VALUES (
			#{id},
			#{title},
			#{content},
			#{type},
			#{createDate},
			#{createBy.id},
			#{updateDate},
			#{updateBy.id},
			#{delFlag},
			#{remarks}
		)
	</insert>
	
	<update id="update">
		UPDATE ts_system_yin SET 	
			title = #{title},
			content = #{content},
			type = #{type},
			update_date = #{updateDate},
			update_by = #{updateBy.id},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM ts_system_yin
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE ts_system_yin SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="SystemYin" statementType="STATEMENT">
		select * FROM ts_system_yin  where ${propertyName} = '${value}'
	</select>
	
</mapper>