<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxtemplate.wxtemplate.api.mapper.CategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wxtemplate.wxtemplate.api.entity.Category">
        <id column="category_id" property="categoryId" />
        <result column="name" property="name" />
        <result column="addtime" property="addtime" />
        <result column="updatetime" property="updatetime" />
    </resultMap>

    <select id="selectAllCategory" resultMap="BaseResultMap" parameterType="java.lang.String">
        select category_id,name,addtime,updatetime from category
        <where>
            <if test="name!=null and name !=''">
                name like concat('%',#{name},'%')
            </if>
        </where>
    </select>

</mapper>
