<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxtemplate.wxtemplate.api.mapper.MoneyTemplateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wxtemplate.wxtemplate.api.entity.MoneyTemplate">
        <id column="money_template_id" property="moneyTemplateId" />
        <result column="vip" property="vip" />
        <result column="hot" property="hot" />
        <result column="stick" property="stick" />
        <result column="home_page" property="homePage" />
        <result column="red_package" property="redPackage" />
        <result column="friends_circle" property="friendsCircle" />
        <result column="addtime" property="addtime" />
        <result column="updatetime" property="updatetime" />
        <result column="images" property="images" />
    </resultMap>
    <select id="selectMoneyTemplate" resultMap="BaseResultMap">
        select money_template_id,vip,hot,stick,home_page,red_package,friends_circle,addtime,updatetime,images
        from money_template limit 0,1
    </select>
</mapper>
