<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxtemplate.api.mapper.ChatMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wxtemplate.api.entity.Chat">
        <id column="chatid" property="chatid" />
        <result column="serviceid" property="serviceid" />
        <result column="userid" property="userid" />
        <result column="addtime" property="addtime" />
        <result column="servicecontent" property="servicecontent" />
        <result column="usercontent" property="usercontent" />
        <result column="updatetime" property="updatetime" />
    </resultMap>
    <select id="selectChatByServiceId" parameterType="java.lang.String" resultType="java.util.Map">
        select c.chatid,c.serviceid,c.userid,c.updatetime,u.name,u.headurl
        from user u left join chat c on u.userid=c.userid
        where c.serviceid=#{userid}
    </select>
    <select id="myIsServiceOrUser" parameterType="java.lang.String" resultMap="BaseResultMap">
        select chatid,serviceid,userid,servicecontent,usercontent,updatetime,addtime
        from chat
        where serviceid=#{serviceid} and userid=#{userid}
    </select>
    <select id="selectUserAndService" parameterType="java.lang.String" resultType="java.util.Map">
        select c.chatid,c.serviceid,c.userid,c.servicecontent,c.usercontent,e.endusername,u.name,u.headurl
        from chat c left join enduser e on c.serviceid=e.enduserid
        left join user u on c.userid=u.userid
        where c.userid=#{userid}
    </select>
    <select id="selectChatBySereviceIdAndContentIsNotNull" parameterType="java.lang.String" resultMap="BaseResultMap">
        select chatid,usercontent from chat where serviceid=#{userid} and usercontent is not null
    </select>
    <update id="updateChatUserContent" parameterType="java.lang.String">
        update chat set usercontent='' where chatid=#{chatid}
    </update>
    <update id="updateChatServiceContent" parameterType="java.lang.String">
        update chat set servicecontent='' where chatid=#{chatid}
    </update>
</mapper>
