<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxtemplate.api.mapper.FendbackMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wxtemplate.api.entity.Fendback">
        <id column="feedbackid" property="feedbackid" />
        <result column="content" property="content" />
        <result column="addtime" property="addtime" />
        <result column="userid" property="userid" />
        <result column="name" property="name" />
        <result column="phone" property="phone" />
    </resultMap>

    <select id="selectFeedback" resultMap="BaseResultMap">
       select feedbackid,content,userid,name,phone,addtime
        from fendback order by addtime desc
    </select>

</mapper>
