<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxtemplate.api.mapper.ProblemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wxtemplate.api.entity.Problem">
        <result column="problemid" property="problemid" />
        <result column="problemdes" property="problemdes" />
        <result column="problemcontent" property="problemcontent" />
        <result column="addtime" property="addtime" />
    </resultMap>
    <select id="selectProductDes" resultMap="BaseResultMap">
        select problemid,problemdes,problemcontent,p.addtime
        from problem p order by p.addtime desc
    </select>
</mapper>
