<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxtemplate.api.mapper.TopupMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wxtemplate.api.entity.Topup">
        <id column="topupid" property="topupid" />
        <result column="userid" property="userid" />
        <result column="addorsub" property="addorsub" />
        <result column="price" property="price" />
        <result column="createtime" property="createtime" />
    </resultMap>
    <select id="selectTopUp" resultType="java.util.Map" parameterType="java.lang.String">
        select t.topupid,u.name,u.phone,case t.addorsub
        when 0 then '减'
        else '加'
        end addorsub,t.price
        from topup t left join user u on t.userid=u.userid
        <where>
            <if test="phone!=null and phone!=''">
                u.phone like concat('%',#{phone},'%')
            </if>
        </where>
        order by t.createtime desc
    </select>
</mapper>
