<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.shop.rider.mapper.RiderMapper">

	<sql id="riderColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.del_flag AS "delFlag",
		a.name AS "name",
		a.img AS "img",
		a.phone AS "phone",
		a.money AS "money",
		a.wei_openid AS "weiOpenid",
		a.qq_id AS "qqId",
		a.yes_no AS "yesNO",
		a.star_num AS "starNum",
		a.real_name AS "realName",
		a.crad AS "card",
		a.card_z AS "cardZ",
		a.card_f AS "cardF",
		a.card_s AS "cardS",
		a.is_ren AS "isRen",
		a.is_shen AS "isShen",
		a.create_date AS "createDate",
		a.is_you AS "isYou",
		a.remarks AS "remarks",
		a.lng AS "lng",
		a.lat AS "lat",
		a.is_user AS "isUser"
	</sql>

	<sql id="riderJoins">

	</sql>


	<select id="get" resultType="Rider" >
		SELECT
			<include refid="riderColumns"/>
		FROM ts_rider a
		<include refid="riderJoins"/>
		WHERE a.id = #{id}
	</select>

	<select id="findList" resultType="Rider" >
		SELECT
			<include refid="riderColumns"/>
		FROM ts_rider a
		<include refid="riderJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="name != null and name != ''">
				AND a.name LIKE
					<if test="dbName == 'oracle'">'%'||#{name}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{name}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{name},'%')</if>
			</if>
			<if test="phone != null and phone != ''">
				AND a.phone LIKE
					<if test="dbName == 'oracle'">'%'||#{phone}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{phone}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{phone},'%')</if>
			</if>
			<if test="realName != null and realName != ''">
				AND a.real_name LIKE
					<if test="dbName == 'oracle'">'%'||#{realName}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{realName}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{realName},'%')</if>
			</if>
			<if test="isRen != null and isRen != ''">
				AND a.is_ren = #{isRen}
			</if>
			<if test="isShen != null and isShen != ''">
				AND a.is_shen = #{isShen}
			</if>
			<if test="isYou != null and isYou != ''">
				AND a.is_you = #{isYou}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>

	<select id="findAllList" resultType="Rider" >
		SELECT
			<include refid="riderColumns"/>
		FROM ts_rider a
		<include refid="riderJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>

	<insert id="insert">
		INSERT INTO ts_rider(
			id,
			create_by,
			update_by,
			update_date,
			del_flag,
			name,
			img,
			phone,
			money,
			wei_openid,
			qq_id,
			yes_no,
			star_num,
			real_name,
			crad,
			card_z,
			card_f,
			card_s,
			is_ren,
			is_shen,
			create_date,
			is_you,
			remarks,
			lng,
			lat,
			is_user
		) VALUES (
			#{id},
			#{createBy.id},
			#{updateBy.id},
			#{updateDate},
			#{delFlag},
			#{name},
			#{img},
			#{phone},
			#{money},
			#{weiOpenid},
			#{qqId},
			#{yesNO},
			#{starNum},
			#{realName},
			#{card},
			#{cardZ},
			#{cardF},
			#{cardS},
			#{isRen},
			#{isShen},
			#{createDate},
			#{isYou},
			#{remarks},
			#{lng},
			#{lat},
			#{isUser}
		)
	</insert>

	<update id="update">
		UPDATE ts_rider SET
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			name = #{name},
			img = #{img},
			phone = #{phone},
			money = #{money},
			wei_openid = #{weiOpenid},
			qq_id = #{qqId},
			yes_no = #{yesNO},
			star_num = #{starNum},
			real_name = #{realName},
			crad = #{card},
			card_z = #{cardZ},
			card_f = #{cardF},
			card_s = #{cardS},
			is_ren = #{isRen},
			is_shen = #{isShen},
			is_you = #{isYou},
			remarks = #{remarks},
			lng = #{lng},
			lat = #{lat}
		WHERE id = #{id}
	</update>


	<!--物理删除-->
	<update id="delete">
		DELETE FROM ts_rider
		WHERE id = #{id}
	</update>

	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE ts_rider SET
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>


	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="Rider" statementType="STATEMENT">
		select * FROM ts_rider  where ${propertyName} = '${value}'
	</select>

</mapper>
